configuration {
  modes: "window,drun,run";
  font: "MesloLGS NF 14";
  display-drun: "Apps:";
  display-run: "run:";
  drun-display-format: "{icon} {name}";
  show-icons: true;
  sidebar-mode: true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "current-theme.rasi"
